@keyframes flicker {
	0%,
	100% {
		opacity: 1;
	}
	92% {
		opacity: 1;
	}
	93% {
		opacity: 0.4;
	}
	94% {
		opacity: 1;
	}
	96% {
		opacity: 0.6;
	}
	98% {
		opacity: 1;
	}
}

@keyframes flicker-click {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0.4;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
